.app {
    display: flex;
    justify-content: center;
    padding: 100px;
    margin: 50px;
    justify-content: space-evenly;


  }
  
  .price-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    width: 200px;
    text-align:start;
    height:  360px; 

  }
  
  .price-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .plan-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .features {
    margin-bottom: 1rem;
  }
  
  .features ul {
    list-style:none ;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 0.5rem;
  }
  
  .users {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .free-plan {
    background-color: #d0d0d0;
  }
  
  .plus-plan {
    background-color: #e0e0e0;
  }
  
  .pro-plan {
    background-color: #d0d0d0;
  }

  .price-card-button{
    background-color: blue;
    color: #ddd;
    border-radius: 25px;
  }


.price-card-button:hover
 {
   
    cursor: pointer;
}










